section {
  padding: 60px 0;
  z-index: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.064), rgba(0, 0, 0, 0.045)),
    url(/src/images/background__main_2.png) repeat 100%;
  min-height: 70vh;
}

.section__libary {
  padding: 30px 0 60px 0;
}
