<header>
  <img class="header__background" src="/src/images/header__backgound-desk.png" alt="">
  <div class="container">
    <div class="header__navigation">
      <ul class="header__navigation-logo">
        <li>
          <a href="/src/index.html">
            <svg width="20" height="20">
              <use href="./images/icon_sprite.svg#icon-film"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="/src/index.html">
            <span>Filmoteka</span>
          </a>
        </li>
      </ul>
      <ul class="header__navigation-pages">
        <li><a class="header__navigation-pages-home" href="/src/index.html">Home</a></li>
        <li><a class="header__navigation-pages-libary" href="/src/libary.html">Libary</a></li>
      </ul>
    </div>
    <form class="header__search-form">
      <input type="text" placeholder="Movie search" data-input-search>
      <svg  width="20" height="20">
        <use href="./images/icon_sprite.svg#icon-search"></use>
      </svg>
    </form>
  </div>
</header>