<div class="popup isHidden">
    <div class="pseudo__popup">
        <div class="pseudo-popup-top"></div>
        <div class="pseudo-popup-bottom"></div>
    </div>
    <div class="popup__body">
        <button data-popup-close>
            <svg width="20" height="20">
                <use href="./images/icon_sprite.svg#icon-cross"></use>
            </svg>
        </button>
        <div class="popup__content"></div>
    </div>
</div>

<div class="popup popup__trailer isHidden">
    
        <iframe class="popup__body popup__body-trailer" width="840" height="472" src="https://www.youtube.com/embed/"
            title="YouTube video player" frameborder="0" allow="accelerometer; 
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
   
</div>