.footer {
  width: 100%;
  padding: 30px 0;
  bottom: 0;
  background-color: var(--footer-color);
}

.footer__list {
  margin: auto;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.footer__icon-list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.footer__icon-list a:hover svg {
  fill: white;
}
