.header__libary-buttons {
  @extend .header__search-form;
  display: flex;
  justify-content: center;
  gap: 32px;

  & button {
    width: 152px;
    height: 44px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid white;
    color: snow;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 300ms;

    @include mobile {
      width: 100px;
    }

    &:active {
      background-color: #ff6b01;
      border: none;
    }

    &:disabled:hover {
      border-color: red;
      color: white;
    }

    &:hover {
      border-color: red;
      color: red;
    }
  }

  @include mobile {
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 0 20px;
  }
}

.header__navigation-libary {
  margin: 40px 0 20px;
}

.lHeader__navigation-pages-home {
  transition-duration: 300ms;
  &:hover {
    color: red;
  }
}

.lHeader__navigation-pages-libary {
  position: relative;
  transition-duration: 300ms;

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -5%;
    height: 3px;
    width: 110%;
    border-radius: 0px;
    background-color: red;
    animation: underlineAnimation;
    animation-duration: 1500ms;
  }

  &:hover {
    color: red;
  }
}
